@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avant";
  src: url("../src/components/ITCAvantGardeStd-Bk.otf");
}
@font-face {
  font-family: "Lubalin";
  src: url("../src/components/LubalinGraphStd-Book.otf");
}

@layer components{
.btn::before{
 transition: width 0.5s,  height 0.5s 
}
}

