@tailwind base;

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avant";
  src: url("../src/components/ITCAvantGardeStd-Bk.otf");
}
@font-face {
  font-family: "Lubalin";
  src: url("../src/components/LubalinGraphStd-Book.otf");
}
@font-face {
  font-family: "Telegraph";
  src: url("../src/components/pptelegraf-regular.otf");
}
@font-face {
  font-family: "Telegraph-Bold";
  src: url("../src/components/pptelegraf-ultrabold.otf");
}

@layer components {
  .btn::before {
    transition: width 0.5s, height 0.5s;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}
